.blog {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
}
.blog .time{
font-size: small;
color: #778beb;
}
.blog ul {
	display: flex;
	padding: 0;
	justify-content: center;
	margin-top: 0;
}
.blog li {
	list-style-type: none;
	margin-right: 10px;
	color: #777;
}
.blog li::after {
	content: " -";
}
.blog li:last-child::after {
	content: "";
}
.info {
	text-align: left;
	line-height: 1.5em;
}
.blog.dark{
	background-color: #555;
	color: #e4e4e4;
}